:root {
    --DarkMain:       #780aac;
    --DarkSecondary:  #001261;

    --NeutralMain:      #a636da;
    --NeutralSecondary: #1d4dd1;

    --LightMain:      #d694f5;
    --LightSecondary: #8aaaff;

    --NeutralLight:  #e8ebf1;
    --NeutralDark:   #0f0114;

    --HardBorder:      5px;
    --SoftBorder:      20px;
    --SuperSoftBorder: 50px;
}

body {
    background-image: linear-gradient(165deg, var(--DarkMain)0%, var(--DarkSecondary)150%);
    overflow: auto; /*change to hidden to get rid of scroll*/
    position: sticky;

    /* height: 100vh; */
    height: -webkit-fill-available;
    width: -webkit-fill-available;

    font-family: Jua;
    font-weight: normal;
}

/* ************************************************************* */
/* ///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////// */
/* ************************************************************* */


@media (min-width: 1100px) {

/* ************************************************************* */
/* ///////////////////////////////////////////////////////////// */     /* Big thingies idk divs*/
/* ************************************************************* */

.Window {
    position:absolute;
    border: 15px var(--DarkSecondary) solid;
    border-radius: var(--SuperSoftBorder);
    background-color: var(--NeutralLight);

    height: 91vh;
    margin: 1vw;
}

.MainWindow {  
    left: 0;
    right: 34%;
}

.ButtonWindow {    
    right: 0px;
    left: 65%;
}

.PrimaryButtonsDiv {
    position: absolute;
    display: flex;
    justify-content: space-between;

    background-color: var(--DarkSecondary);      

    height: 6vw;
    width: 100.4%;
    bottom: -1px;
    left: -1px;
}

.ButtonsDiv {
    position: absolute;
    display: grid;
    text-align: center;

    width: 100%;    
    height: 85vh;
    overflow:auto;  
}

/* ************************************************************* */
/* ///////////////////////////////////////////////////////////// */     /* Buttonzzzz */
/* ************************************************************* */


.Button {
    margin: 2%;
    height: 140px;
    width: 140px;
    background-size: contain;

    border: 5px var(--DarkSecondary) solid;
    border-radius: var(--SoftBorder);
}

.Button:hover {
    transform: scale(1.05);

    cursor: pointer;

    animation-name: ButtonHover;
    animation-duration: 5s;
    animation-iteration-count: infinite    
}

.PrimaryButton {
    height: 5vw;
    width: 5vw;

    margin: 2% 5% 0% 5%;    
    object-fit: contain;  

    border: 5px var(--DarkSecondary) solid;
    border-radius: var(--SoftBorder);    

}

.PrimaryButton:hover {
    transform: scale(1.05);

    animation-name: Wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite
}


/* ************************************************************* */
/* ///////////////////////////////////////////////////////////// */     /* Canvas */
/* ************************************************************* */

.Canvas {
    border: 2px solid rgb(255, 0, 0);
    position: absolute;

    width: 100%;
    height: auto;
}

}

/* ************************************************************* */
/* ///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////// */
/* ************************************************************* */


@media (max-width: 1099px) {


.Window {
    position:absolute;
    border: 15px var(--DarkSecondary) solid;
    border-radius: var(--SuperSoftBorder);
    background-color: var(--NeutralLight);

    width: 90vw;
    margin: 1vw;

}

.MainWindow {
    top: 0;
    bottom: -60vh;
}

.ButtonWindow {
    top: 60vh;
    bottom: -98vh;
}

.PrimaryButtonsDiv {
    position: absolute;
    display:flexbox;
    text-align: center;

    background-color: var(--DarkSecondary);      

    height: 15vw;
    width: 100.5%;
    bottom: -1px;
    left: -1px;

    border: 2px red solid;
}

.ButtonsDiv {
    position: absolute;
    display: grid;
    text-align: center;

    width: 100%;    
    height: 30vh;
    overflow:auto;
}

/* ************************************************************* */
/* ///////////////////////////////////////////////////////////// */     /* Buttonzzzz */
/* ************************************************************* */


.Button {
    margin: 2%;
    height: 150px;
    width: 150px;
    background-size: contain;

    border: 5px var(--DarkSecondary) solid;
    border-radius: var(--SoftBorder);
}

.Button:hover {
    transform: scale(1.05);

    cursor: pointer;

    animation-name: ButtonHover;
    animation-duration: 5s;
    animation-iteration-count: infinite    
}

.PrimaryButton {
    height: 12vw;
    width: 12vw;

    margin: 2% 5% 0% 5%;    
    object-fit: contain;

    border: 5px var(--DarkSecondary) solid;
    border-radius: var(--SoftBorder);   
}

.PrimaryButton:hover {
    transform: scale(1.05);

    animation-name: Wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite
}


/* ************************************************************* */
/* ///////////////////////////////////////////////////////////// */     /* Canvas */
/* ************************************************************* */

.Canvas {
    border: 2px solid rgb(255, 0, 0);
    position: absolute;

    width: 100%;
    height: auto;
}

}



/*Animations*/

@keyframes Wiggle {
  0%    {transform: rotate(-4deg)}
  50%   {transform: rotate(4deg)}
  100%  {transform: rotate(-4deg)} 
}

@keyframes ButtonHover {
  1%    {transform: scale(1.05)}
  50%   {transform: scale(1.1)}
  100%  {transform: scale(1.05)}  
}

@keyframes Bop {
  0%    {transform: translate(0px, 5px)}
  50%   {transform: translate(0px, 0px)}
  100%  {transform: translate(0px, 5px)}
}
